<div class="parent">
	<div class="header">
	</div>
	<div class="back-img2">
		<div class="center">
<h2>編集</h2>
<% if @article.errors.any? %>
  <div class="color"><h3>入力した内容にエラーが<%= @article.errors.count %>件あります</h3>
    <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul></div>
  <% end %>
  <br>
<%= form_for (@article) do |f| %>
 <div >タイトル<br>
 <%= f.text_field :title ,:size => "10x20"%></div>
 <div> 本文 <br>
 <%= f.text_area :body ,:size => "15x15"%></div>
 <div> 著者 <br>
 <%= f.text_field :author ,:size => "10x15"%></div>
<br>

<div><%# f.submit "送信" %>
	<input type="submit" value="" class="submit_btn">
</div>

<% end %>

<%= link_to "投稿一覧にもどる", :controller => "articles", :action => "index" %>
		</div>
	</div>
	<div class="footer">
		</div>
</div>